Docs/_book
Docs/CabbageDocs
Docs/markdown/Widgets/ExpandedWidgetEntries
.vscode
*.DS_Store
build/
CabbageInstall/
*.zip
CabbageRack
CabbageManual
Source/Opcodes/CabbageBTOpcodes.*
Source/Utilities/encrypt.h