<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app requires audio input. If you do not have an audio interface connected it will use the built-in microphone.</string>
    <key>CFBundleExecutable</key>
    <string>CabbagePlugin</string>
    <key>CFBundleIconFile</key>
    <string>Icon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.cabbageaudio.CabbagePlugin</string>
    <key>CFBundleName</key>
    <string>CabbagePlugin</string>
    <key>CFBundleDisplayName</key>
    <string>CabbagePlugin</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>2.8.4</string>
    <key>CFBundleVersion</key>
    <string>2.8.4</string>
    <key>NSHumanReadableCopyright</key>
    <string/>
    <key>NSHighResolutionCapable</key>
    <true/>
  </dict>
</plist>
