<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app requires audio input. If you do not have an audio interface connected it will use the built-in microphone.</string>
    <key>CFBundleExecutable</key>
    <string>CabbagePlugin</string>
    <key>CFBundleIconFile</key>
    <string>Icon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.cabbageaudio.CabbagePlugin</string>
    <key>CFBundleName</key>
    <string>CabbagePlugin</string>
    <key>CFBundleDisplayName</key>
    <string>CabbagePlugin</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>2.8.4</string>
    <key>CFBundleVersion</key>
    <string>2.8.4</string>
    <key>NSHumanReadableCopyright</key>
    <string/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>AudioComponents</key>
    <array>
      <dict>
        <key>name</key>
        <string>CabbageAudio: CabbageEffectNam</string>
        <key>description</key>
        <string>CabbagePlugin</string>
        <key>factoryFunction</key>
        <string>CabbagePluginAUFactory</string>
        <key>manufacturer</key>
        <string>Cabb</string>
        <key>type</key>
        <string>aumf</string>
        <key>subtype</key>
        <string>RORY</string>
        <key>version</key>
        <integer>133124</integer>
        <key>resourceUsage</key>
        <dict>
          <key>network.client</key>
          <true/>
          <key>temporary-exception.files.all.read-write</key>
          <true/>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
